// app global css in SCSS form
.q-scrollarea__content {
  background-color: #041737 !important;
  padding: 20px;

  .q-item__section {
    color: #496082;
  }
}

table {
  thead {
    th {
      font-size: 16px !important;
      font-weight: bolder !important;
    }
  }

  tbody {
    td {
      font-size: 14px !important;
      font-weight: 500 !important;
    }
  }
}

.chart-container {
  position: relative;
  height: 250px;
  width: 600px;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .chart-container {
    position: relative;
    height: 250px;
    width: 400px;
  }
}
